/*========================================================================== 
                    LOGIN BOX
  ========================================================================== */
#global-header, #footer {
    width: 100% !important;
}

h1{
    margin: 30px 0 60px;
    font-size: 48px;
}

#signIn,#spinUp{
    background-color: #007535;
    border: none;
    margin:20px 15px 15px 20px;
    display: inline-block;
    line-height: 1.25;
    box-shadow: 0 2px 0 #003618;
}
#proposition-name,#spinUp, #faqNav{
    color:white;
    text-decoration: none;
    font-size: 2em;
}

#faqNav{
    font-family: "nta", Arial, sans-serif;
    margin: auto;
    margin-right: 0;
    line-height: initial;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signOut {
    display: block;
}
