/*========================================================================== 
                    LOGIN BOX
  ========================================================================== */
#global-header, #footer {
    width: 100% !important;
}

.header-global {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    float: none !important;
    width: 100% !important;
}

.header-logo{
    width: 160px !important;
}

.navBtns{
    display: inline-flex;
}

h1{
    margin: 30px 0 60px;
    font-size: 48px;
}

#signIn,#spinUp{
    background-color: #007535;
    border: none;
    margin:20px 15px 15px 20px;
    display: inline-block;
    line-height: 1.25;
    box-shadow: 0 2px 0 #003618;
}
#proposition-name,#spinUp{
    color:white;
    text-decoration: none;
    font-size: 2em;
}

#faqNav{
    color:white;
    min-width: 153px;
    height: 43px;
    margin-right: 5px;
    background-color: #3f51b5;
    border: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    font: 400 13.3333px Arial;
    padding: 14px 6px;
    text-rendering: auto;
    text-decoration: none;
}

.content{
    text-align: center;
}

amplify-authenticator {
    z-index: 1;
}

#logo.content {
    display: inline-flex;
}
