header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}

:root {
  --amplify-primary-color: #007535;
  --amplify-primary-constrast: #ffffff;
  --amplify-primary-shade: #000000;
  --amplify-primary-tint: #107535;
}

.mfasetup {
    text-align:center;
}
